* {
  font-family: "Roboto", sans-serif;
}

.editProfile-wrapper {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='750' preserveAspectRatio='none' viewBox='0 0 2500 750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='2500' height='750' x='0' y='0' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/rect%3e%3cpath d='M2500 0L1399.78 0L2500 240.74z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1399.78 0L2500 240.74L2500 516.86L1310.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1310.23 0L2500 516.86L2500 644.94L535.07 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M535.0700000000002 0L2500 644.94L2500 709.0500000000001L236.11000000000018 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 750L794.58 750L0 546.21z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 546.21L794.58 750L1107.06 750L0 330.87z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 330.87L1107.06 750L1220.46 750L0 242.03z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 242.02999999999997L1220.46 750L1989.52 750L0 223.64z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='2500' height='750' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='17.5%25' y1='-58.33%25' x2='82.5%25' y2='158.33%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.01'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  min-height: 100vh;
  width: 100%;
  margin-bottom: 100px;
}

.editProfile-wrapper .login {
  margin-top: 80px !important;
  margin: auto;
}

.editProfile-wrapper .title-login p {
  color: #bbbbbb;
}
.editProfile-wrapper .google .google-login {
  margin-left: -24px;
}

.editProfile-wrapper .btn-drop {
  font-size: 18px;
  background-color: transparent;
  color: #c70759;
}

.editProfile-wrapper .btn-drop:hover {
  background-color: #292929;
}

.editProfile-wrapper .form-login {
  background-color: #292929;
  color: #fff;
  border: none;
  border-radius: 0;
  height: 48px;
}

.editProfile-wrapper .form-login:focus {
  background-color: #292929;
  color: #fff;
}

.editProfile-wrapper .btn-login {
  background: linear-gradient(
    to right,
    #61aec7,
    #c70759,
    rgb(86, 0, 140)
  ) !important;
  height: 48px;
  border: 0;
  border-radius: 0;
}

.editProfile-wrapper .btn-login:hover {
  background: linear-gradient(
    to right,
    #8ad0e7,
    #d2377a,
    rgb(144, 50, 202)
  ) !important;
}

.editProfile-wrapper .login-form .register {
  color: #bbbbbb !important;
}
