.card-wrapper {
  background-color: #292929;
  /* position: relative; */
  width: 260px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card-wrapper .poster {
  max-width: 100% !important;
  height: 400px;
  -webkit-transition: all 0.5s ease-in-out !important;
  -moz-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
  -ms-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.card-wrapper:hover .poster {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.5;
}

.card-wrapper .add-favorite {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset;
  margin-left: -4px;
  margin-top: -2px;
}

.card-wrapper .genre {
  background-color: #1d1d1d;
  color: #0feffd;
  font-size: 12px;
  border-radius: 0px 8px 0px 8px;
  background-size: cover;
  width: 100px;
  height: 24px;
  text-align: center;
  line-height: 16px;
}

.card-wrapper .rating {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 44px;
  margin-left: -30px;
}

.card-wrapper .rating .value-rating {
  /* background: linear-gradient(to right, #61aec7, #c70759, rgb(86, 0, 140)); */
  color: #bbbbbb;
  margin-left: -30px;
}

.card-wrapper .movie-title {
  margin-top: 38px;
  font-size: 16px;
}

.card-wrapper .btn-watchlist {
  background-color: #353535;
  color: #c70759;
}
.card-wrapper .btn-watchlist:hover {
  background-color: #444444;
  color: #dc1e70;
}
.card-wrapper .btn-trailer {
  background-color: transparent;
}
.card-wrapper .btn-trailer:hover {
  background-color: #353535;
}

.card-wrapper .btn-watchlist .icon-plus,
.card-wrapper .btn-trailer .icon-play {
  width: 16px;
  height: 16px;
}
